---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Card from "@components/Card";
import WorkCard from "@components/WorkCard";
import getSortedPosts from "@utils/getSortedPosts";
import getSortedWork from "@utils/getSortedWork";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const works = await getCollection("work");

const sortedWorks = getSortedWork(works);
const featuredWorks = sortedWorks.filter(({ data }) => data.featured);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <p>
        Hello there. I am a senior engineer with a background spanning the full
        stack of web development; passionate about delivering exceptional UI/UX.
      </p>
      <p>
        <LinkButton
          className="font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
          href="https://rachelcantor.net"
        >
          Just want to see my resumé?
        </LinkButton>
      </p>
    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured-posts">
            <h2>Featured Posts</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    }

    {
      featuredWorks.length > 0 && (
        <>
          <section id="featured-work">
            <h2>Featured Work</h2>
            <ul>
              {featuredWorks.map(({ data, slug }) => (
                <WorkCard
                  href={`/work/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured-posts,
  #featured-work,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured-posts h2,
  #featured-work h2,
  #recent-posts h2 {
    @apply text-2xl font-bold;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
