---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Header from "@components/Header.astro";

interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
  activeNav?: "posts" | "about" | "search" | "work" | "demos";
  includeRss?: boolean;
}

interface ArrayTitleProp {
  pageTitle: [string, string];
  titleTransition: string;
  pageDesc?: string;
  activeNav?: "posts" | "about" | "search" | "work" | "demos";
  includeRss?: boolean;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
---

<Header activeNav={props.activeNav} />
<Breadcrumbs />
<main id="main-content" class="app-layout prose max-w-3xl dark:prose-invert">
  {
    "titleTransition" in props ? (
      <h1 class="mb-0 flex items-center justify-between">
        <span>
          {props.pageTitle[0]}
          <span transition:name={props.titleTransition}>
            {props.pageTitle[1]}
          </span>
        </span>
        {props.includeRss && (
          <a
            target="_blank"
            href="/rss.xml"
            class="rss-link inline-flex items-center"
            aria-label="rss feed"
            title="RSS Feed"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon inline">
              <path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z" />
              <path d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z" />
              <circle cx="6" cy="18" r="2" />
            </svg>
            <span class="sr-only">RSS Feed</span>
          </a>
        )}
      </h1>
    ) : (
      <h1 class="mb-1 flex items-center justify-between">
        <span>{props.pageTitle}</span>
        {props.includeRss && (
          <a
            target="_blank"
            href="/rss.xml"
            class="rss-link inline-flex items-center"
            aria-label="rss feed"
            title="RSS Feed"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="rss-icon block h-6 w-6 shrink-0 fill-skin-base group-hover:fill-skin-accent"
            >
              <path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z" />
              <path d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z" />
              <circle cx="6" cy="18" r="2" />
            </svg>
            <span class="sr-only">RSS Feed</span>
          </a>
        )}
      </h1>
    )
  }
  <p class="my-0">{props.pageDesc}</p>
  <slot />
</main>
