---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Header from "@components/Header.astro";

interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
  activeNav?: "posts" | "about" | "search" | "work" | "demos";
  includeRss?: boolean;
}

interface ArrayTitleProp {
  pageTitle: [string, string];
  titleTransition: string;
  pageDesc?: string;
  activeNav?: "posts" | "about" | "search" | "work" | "demos";
  includeRss?: boolean;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
---

<Header activeNav={props.activeNav} />
<Breadcrumbs />
<main id="main-content" class="app-layout max-w-3xl">
  {
    "titleTransition" in props ? (
      <h1>
        {props.pageTitle[0]}
        <span transition:name={props.titleTransition}>
          {props.pageTitle[1]}
          {props.includeRss && (
            <>
              {" "}
              <a
                target="_blank"
                href="/rss.xml"
                class="rss-link"
                aria-label="rss feed"
                title="RSS Feed"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon">
                  <path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z" />
                  <path d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z" />
                  <circle cx="6" cy="18" r="2" />
                </svg>
                <span class="sr-only">RSS Feed</span>
              </a>
            </>
          )}
        </span>
      </h1>
    ) : (
      <h1>
        {props.pageTitle}
        {props.includeRss && (
          <>
            {" "}
            <a
              target="_blank"
              href="/rss.xml"
              class="rss-link"
              aria-label="rss feed"
              title="RSS Feed"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon">
                <path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z" />
                <path d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z" />
                <circle cx="6" cy="18" r="2" />
              </svg>
              <span class="sr-only">RSS Feed</span>
            </a>
          </>
        )}
      </h1>
    )
  }
  <p>{props.pageDesc}</p>
  <slot />
</main>

<style>
  #main-content {
    @apply pb-4;
  }
  #main-content h1 {
    @apply font-semibold;
  }
  #main-content p {
    @apply mb-6 mt-2 italic;
  }
</style>
