---
import type { PortfolioPost } from "@components/PortfolioBoard";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import PostsIndexBoard from "@components/riso/PostsIndexBoard";
import { SITE } from "@config";

export interface Props {
  portfolioPosts: PortfolioPost[];
  pageSize: number;
}

const { portfolioPosts, pageSize } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Main pageTitle="Posts" showPageHeader={false} showBreadcrumbs={false}>
    <PostsIndexBoard client:load posts={portfolioPosts} pageSize={pageSize} />
  </Main>
</Layout>
