---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import CollectionCard from "@components/CollectionCard";
import { SITE } from "@config";
import type { Page } from "astro";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<Layout
  title={`Posts | ${SITE.title}`}
  activeNav="posts"
  footerNoMarginTop={page.lastPage > 1}
>
  <Main
    pageTitle="Posts"
    pageDesc="All of the posts."
    includeRss={true}
    activeNav="posts"
  >
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <CollectionCard
            href={`/posts/${slug}/`}
            frontmatter={data}
            showDatetime={true}
          />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />
  <Footer />
</Layout>
