---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import CollectionCard from "@components/CollectionCard";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import type { Page } from "astro";
import Footer from "@components/Footer.astro";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
  tag: string;
  tagName: string;
}

const { page, tag, tagName } = Astro.props;
---

<Layout
  title={`Tag: ${tagName} | ${SITE.title}`}
  activeNav="posts"
  footerNoMarginTop={page.lastPage > 1}
>
  <Main
    pageTitle={[`Tag:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`All the posts with the tag "${tagName}".`}
    activeNav="posts"
  >
    <h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <CollectionCard
            href={`/posts/${slug}/`}
            frontmatter={data}
            showDatetime={true}
          />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />
  <Footer />
</Layout>
