---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import WorkCard from "@components/WorkCard";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import type { Page } from "astro";

export interface Props {
  page: Page<CollectionEntry<"work">>;
  tag: string;
  tagName: string;
}

const { page, tag, tagName } = Astro.props;
---

<Layout title={`Tech: ${tagName} | ${SITE.title}`}>
  <Header activeNav="work" />
  <Main
    pageTitle={[`Tech:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`All the work with the tag "${tagName}".`}
  >
    <h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <WorkCard href={`/work/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
