---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import CollectionCard from "@components/CollectionCard";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import type { Page } from "astro";

export interface Props {
  page: Page<CollectionEntry<"work">>;
  tag: string;
  tagName: string;
}

const { page, tag, tagName } = Astro.props;

const pageSuffix = page.currentPage > 1 ? ` (page ${page.currentPage})` : "";
---

<Layout
  title={`Tech: ${tagName}${pageSuffix} | ${SITE.title}`}
  description={`All the work with the tag "${tagName}".`}
  breadcrumbName={page.currentPage === 1 ? tagName : undefined}
>
  <Main
    pageTitle={[`Tech:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`All the work with the tag "${tagName}".`}
  >
    <h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
    <ul class="list-none pl-0">
      {
        page.data.map(({ data, slug }) => (
          <CollectionCard
            href={`/work/${slug}`}
            slug={slug}
            frontmatter={data}
          />
        ))
      }
    </ul>
    <Pagination {page} />
  </Main>
</Layout>
