---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import WorkTag from "@components/WorkTag.astro";
import Features from "@components/Features";
import TableOfContents from "@components/TableOfContents";
import CollectionEntryBack from "@components/CollectionEntryBack.astro";
import CollectionEntryHeader from "@components/CollectionEntryHeader.astro";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import { SITE } from "@config";
import BackToTop from "@components/BackToTop.astro";

export interface Props {
  work: CollectionEntry<"work">;
  works: CollectionEntry<"work">[];
}

const { work } = Astro.props;

const {
  title,
  author,
  description,
  ogImage,
  canonicalURL,
  pubDatetime,
  modDatetime,
  tags,
  features,
  summary,
} = work.data;

const { Content } = await work.render();

const ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;
const ogUrl = new URL(
  ogImageUrl ?? `/work/${slugifyStr(title)}.png`,
  Astro.url.origin
).href;

const layoutProps = {
  title: `${title} | ${SITE.title}`,
  author,
  description,
  pubDatetime,
  modDatetime,
  canonicalURL,
  ogImage: ogUrl,
  scrollSmooth: true,
  activeNav: "work" as const,
};
---

<Layout {...layoutProps}>
  <Header activeNav="work" />
  <!-- <div class="progress-container fixed top-0 z-10 h-1 w-full bg-skin-fill">
    <div class="progress-bar h-1 w-0 bg-skin-accent" id="myBar"></div>
  </div> -->
  <main id="main-content" class="app-layout-with-toc">
    <CollectionEntryBack />

    <div class="toc-layout-grid">
      <!-- TOC Sidebar -->
      <aside class="toc-sidebar">
        <TableOfContents client:load />
      </aside>

      <!-- Main Content -->
      <article
        id="article"
        role="article"
        class="prose max-w-3xl dark:prose-invert prose-img:rounded prose-img:bg-white"
      >
        <header>
          <CollectionEntryHeader
            title={title}
            summary={summary}
            slug={slugifyStr(title)}
          />
          <!-- {year && <WorkYear year={year} size="lg" className="my-2" />} -->
        </header>
        {
          features && features.length > 0 && (
            <Features features={features} client:load />
          )
        }
        <Content />

        <ul class="prose my-8 dark:prose-invert">
          {tags.map(tag => <WorkTag tag={slugifyStr(tag)} />)}
        </ul>

        <BackToTop />
      </article>
    </div>
  </main>
</Layout>
<Footer />

<script is:inline>
  /** Create a progress indicator
   *  at the top */
  function createProgressBar() {
    // Create the main container div
    const progressContainer = document.createElement("div");
    progressContainer.className =
      "progress-container fixed top-0 z-10 h-1 w-full bg-skin-fill";

    // Create the progress bar div
    const progressBar = document.createElement("div");
    progressBar.className = "progress-bar h-1 w-0 bg-skin-accent";
    progressBar.id = "myBar";

    // Append the progress bar to the progress container
    progressContainer.appendChild(progressBar);

    // Append the progress container to the document body or any other desired parent element
    document.body.appendChild(progressContainer);
  }
  createProgressBar();

  /** Update the progress bar
   *  when user scrolls */
  function updateScrollProgress() {
    const winScroll =
      document.body.scrollTop || document.documentElement.scrollTop;
    const height =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    const scrolled = (winScroll / height) * 100;
    if (document) {
      const myBar = document.getElementById("myBar");
      if (myBar) {
        myBar.style.width = scrolled + "%";
      }
    }
  }
  document.addEventListener("scroll", updateScrollProgress);

  /** Attaches links to headings in the document,
   *  allowing sharing of sections easily */
  function addHeadingLinks() {
    let headings = Array.from(
      document.querySelectorAll("h2:not(#table-of-contents), h3, h4, h5, h6")
    );

    for (let heading of headings) {
      const text = heading.textContent;
      heading.textContent = "";
      heading.className = "group heading-group";
      let link = document.createElement("a");
      link.className = "heading-link";
      link.href = "#" + heading.id;
      link.textContent = text;
      let visualDetail = document.createElement("span");
      visualDetail.ariaHidden = true;
      visualDetail.innerText = "🔗";
      link.appendChild(visualDetail);
      heading.appendChild(link);
    }
  }
  addHeadingLinks();

  /** Attaches copy buttons to code blocks in the document,
   * allowing users to copy code easily. */
  function attachCopyButtons() {
    let copyButtonLabel = "Copy";
    let codeBlocks = Array.from(document.querySelectorAll("pre"));

    for (let codeBlock of codeBlocks) {
      let wrapper = document.createElement("div");
      wrapper.style.position = "relative";

      let copyButton = document.createElement("button");
      copyButton.className =
        "copy-code absolute right-3 -top-3 rounded bg-skin-card px-2 py-1 text-xs leading-4 text-skin-base font-medium";
      copyButton.innerHTML = copyButtonLabel;
      codeBlock.setAttribute("tabindex", "0");
      codeBlock.appendChild(copyButton);

      // wrap codebock with relative parent element
      codeBlock?.parentNode?.insertBefore(wrapper, codeBlock);
      wrapper.appendChild(codeBlock);

      copyButton.addEventListener("click", async () => {
        await copyCode(codeBlock, copyButton);
      });
    }

    async function copyCode(block, button) {
      let code = block.querySelector("code");
      let text = code?.innerText;

      await navigator.clipboard.writeText(text ?? "");

      // visual feedback that task is completed
      button.innerText = "Copied";

      setTimeout(() => {
        button.innerText = copyButtonLabel;
      }, 700);
    }
  }
  attachCopyButtons();
</script>
