---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Pagination from "@components/Pagination.astro";
import CollectionCard from "@components/CollectionCard";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"work">>;
}

const { page } = Astro.props;

const pageSuffix = page.currentPage > 1 ? ` (page ${page.currentPage})` : "";
---

<Layout
  title={`Work${pageSuffix} | ${SITE.title}`}
  description={`Selected work and case studies by ${SITE.author}.`}
>
  <Main pageTitle="Work" showBreadcrumbs={false}>
    <ul class="list-none pl-0">
      {
        page.data.map(({ data, slug }) => (
          <CollectionCard href={`/work/${slug}`} frontmatter={data} />
        ))
      }
    </ul>
    <Pagination {page} />
  </Main>
</Layout>
